/* REPONSIVE SIZE SCREENS */
$phone: '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(max-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'scren and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5),
                    (-o-min-device-pixel-ratio: 3/2),
                    (-webkit-min-device-pixel-ratio: 1.5),
                    (min-device-pixel-ratio: 1.5),
                    (min-resolution: 144dpi),
                    (min-resolution: 1.5dppx)';

/* SEARCHBOX STYLES */
@mixin search-box {
  form {
    transition: all .3s ease-out;
    position: relative;
    input[type=text] {
      &:focus {
        transition: all .3s ease-out;
        border-color: $brand-primary;
        color: $gray-darker;
        background: white;
        + button .search {
          color: $brand-primary;
        }
      }
      border: none;
      padding: 10px;
      min-width: 255px;
      color: $gray;
      border: 1px solid $input-border-color;
    }
    button[type=submit] {
      position: absolute;
      background: none;
      border: none;
      bottom: 0.3125rem;
      right: 0.125rem;
      color: $gray;
      .search:hover {
        color: $brand-primary;
      }
    }
  }
}

/* DYN FONT SIZE */
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/* OUTPUT MIXIN */
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/* TRANSITION */
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}

/* MEDIA QUERIES */
@mixin mq($media) {
  @media only screen and #{$media} {
    @content;
  }
}
